:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --font-family: Figtree, Arial, Helvetica, sans-serif;
  --font-size: min(calc(12px + 1vw), 24px);

  --text-preset-1: 800 1.25em var(--font-family);
  --text-preset-2: 500 0.875em var(--font-family);
  --text-preset-3: 500 0.75em var(--font-family);
  --text-preset-3-bold: 800 0.75em var(--font-family);
}

@media (min-width: 48rem) {
  :root {
    --text-preset-1: 800 1.5em var(--font-family);
    --text-preset-2: 500 1em var(--font-family);
    --text-preset-3: 500 0.875em var(--font-family);
    --text-preset-3-bold: 800 0.875em var(--font-family);
  }
}

@font-face {
  font-family: Figtree;
  font-weight: 500 800;
  font-display: swap;
  src: url("../public/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-inline: 2em;

  height: 100%;
  background-color: var(--yellow);

  font-weight: 500;
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--gray-950);
}

article {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  padding: 1.5em;
  max-width: 24em;

  border: 0.0625em solid;
  border-radius: 1.25em;
  box-shadow: 0.5em 0.5em;
  background-color: var(--white);
}

article header {
  border-radius: 0.625em;
  overflow: hidden;
}

article header img {
  width: 100%;
}

article section {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

article section .labels button {
  padding: 0.25em 0.75em;
  border-radius: 0.25em;
  border: 0;
  background-color: var(--yellow);
  font: var(--text-preset-3-bold);
}

article section time {
  font: var(--text-preset-3);
}

article section h1 {
  font: var(--text-preset-1);

  &:hover {
    color: var(--yellow);
    cursor: pointer;
  }
}

article section p {
  font: var(--text-preset-2);
  color: var(--gray-500);
}

article footer {
  display: flex;
  align-items: center;
  gap: 0.75em;
  font: var(--text-preset-3-bold);
}

article footer img {
  height: 2em;
}
