*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
